<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/mens" routerLinkActive="active">Men's Outerwear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/ladies" routerLinkActive="active">Ladies's Outerwear</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/mensT" routerLinkActive="active">Men's T-Shirts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/ladiesT" routerLinkActive="active">Ladies T-Shirts</a>
    </li>
</ul>
<router-outlet></router-outlet>
